/VKFW1.Api/.idea/.idea.VKFW1.dir/.idea/.name
/VKFW1.Api/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/VKFW1.Api/obj/Debug/net7.0/apphost
/VKFW1.Api/bin/Debug/net7.0/appsettings.Development.json
/VKFW1.Api/bin/Debug/net7.0/appsettings.json
/.idea/.idea.VKFW1.dir/.idea/indexLayout.xml
/VKFW1.Api/.idea/.idea.VKFW1.dir/.idea/indexLayout.xml
/VKFW1.Api/Properties/launchSettings.json
/VKFW1.Api/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
/VKFW1.Api/bin/Debug/net7.0/Microsoft.OpenApi.dll
/VKFW1.Api/obj/Debug/net7.0/staticwebassets/msbuild.build.VKFW1.Api.props
/VKFW1.Api/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.VKFW1.Api.props
/VKFW1.Api/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.VKFW1.Api.props
/VKFW1.Api/obj/project.assets.json
/VKFW1.Api/obj/project.nuget.cache
/VKFW1.Api/obj/project.packagespec.json
/.idea/.idea.VKFW1.dir/.idea/projectSettingsUpdater.xml
/VKFW1.Api/obj/rider.project.restore.info
/VKFW1.Api/obj/Debug/net7.0/staticwebassets.build.json
/VKFW1.Api/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
/VKFW1.Api/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/VKFW1.Api/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/.idea/.idea.VKFW1.dir/.idea/vcs.xml
/VKFW1.Api/.idea/.idea.VKFW1.dir/.idea/vcs.xml
/VKFW1.Api/bin/Debug/net7.0/VKFW1.Api
/VKFW1.Api/obj/Debug/net7.0/VKFW1.Api.AssemblyInfo.cs
/VKFW1.Api/obj/Debug/net7.0/VKFW1.Api.AssemblyInfoInputs.cache
/VKFW1.Api/obj/Debug/net7.0/VKFW1.Api.assets.cache
/VKFW1.Api/obj/Debug/net7.0/VKFW1.Api.csproj.AssemblyReference.cache
/VKFW1.Api/obj/Debug/net7.0/VKFW1.Api.csproj.CopyComplete
/VKFW1.Api/obj/Debug/net7.0/VKFW1.Api.csproj.CoreCompileInputs.cache
/VKFW1.Api/obj/Debug/net7.0/VKFW1.Api.csproj.FileListAbsolute.txt
/VKFW1.Api/obj/VKFW1.Api.csproj.nuget.dgspec.json
/VKFW1.Api/obj/VKFW1.Api.csproj.nuget.g.props
/VKFW1.Api/obj/VKFW1.Api.csproj.nuget.g.targets
/VKFW1.Api/bin/Debug/net7.0/VKFW1.Api.deps.json
/VKFW1.Api/bin/Debug/net7.0/VKFW1.Api.dll
/VKFW1.Api/obj/Debug/net7.0/ref/VKFW1.Api.dll
/VKFW1.Api/obj/Debug/net7.0/refint/VKFW1.Api.dll
/VKFW1.Api/obj/Debug/net7.0/VKFW1.Api.dll
/VKFW1.Api/obj/Debug/net7.0/VKFW1.Api.GeneratedMSBuildEditorConfig.editorconfig
/VKFW1.Api/obj/Debug/net7.0/VKFW1.Api.genruntimeconfig.cache
/VKFW1.Api/obj/Debug/net7.0/VKFW1.Api.GlobalUsings.g.cs
/VKFW1.Api/obj/Debug/net7.0/VKFW1.Api.MvcApplicationPartsAssemblyInfo.cache
/VKFW1.Api/obj/Debug/net7.0/VKFW1.Api.MvcApplicationPartsAssemblyInfo.cs
/VKFW1.Api/bin/Debug/net7.0/VKFW1.Api.pdb
/VKFW1.Api/obj/Debug/net7.0/VKFW1.Api.pdb
/VKFW1.Api/bin/Debug/net7.0/VKFW1.Api.runtimeconfig.json
/.idea/.idea.VKFW1.dir/.idea/workspace.xml
